header {
  height: 100vh;
  padding-top: 5%;
  background-image: url(../../assets/images/background/bg.jpg);
  background-size: cover;
}

.header_container {
  text-align: center;
  height: 100%;
  position: relative;
}

/*===============headerbuttons=================*/
.headerButton {
  display: flex;
  justify-content: center;
  margin-top: 2%;
  margin-bottom: 5%;
  gap: 2%;
}

/*===============SocialMedia=================*/
.socialMedia {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  position: absolute;
  left: 0;
  bottom: 5%;
  margin-left: 15px;
}

.socialMedia::after {
  content: "";
  width: 1px;
  height: 40px;
  background: var(--color-dark);
}

/*=============profilePicture===================*/
.profilePicture {
  background: var(--color-light);
  width: 420px;
  height: 530px;
  position: absolute;
  left: calc(50%);
  transform: translateX(-50%);
  border-radius: 45%;
  overflow: hidden;
  padding: 20px 20px; 
}

/*phone media-query small screensize*/
@media screen and (max-width: 600px) {
  header {
    height: auto; 
    padding-top: 20%; 
  }

  .header_container{
    height: 100vh; 
  }

  .socialMedia,
  .scroll_down {
    display: none;
  }
  .profilePicture{
    margin-top: 10%; 
    height: auto; 
    width: 60%; 
  }
}
