header {
  height: 100vh;
  padding-top: 3rem;
  overflow: hidden;
  background-image: url(../../assets/images/bg.jpg);
  background-size: cover;
}

.header_container {
  text-align: center;
  height: 100%;
  position: relative;
}

/*===============headerbuttons=================*/
.headerButton {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

/*===============SocialMedia=================*/
.socialMedia {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 0;
  bottom: 5rem;
  margin-left: 1rem;
}

.socialMedia::after {
  content: "";
  width: 1px;
  height: 3rem;
  background: var(--color-dark);
}

/*=============profilePicture===================*/
.profilePicture {
  background: var(--color-light);
  width: 25rem;
  height: 32rem;
  position: absolute;
  left: calc(50%);
  transform: translateX(-50%);
  border-radius: 12rem;
  overflow: hidden;
  padding: 1.5rem 1rem;
}

/*=============scrollDown===================*/
.scroll_down {
  position: absolute;
  height: 3rem;
  width: 3rem;
  left: calc(50%);
  transform: translateX(-50%);
  bottom: 2rem;
}

/*phone media-query small screensize*/
@media screen and (max-width: 600px) {
  header {
    height: 100vh;
  }
  .socialMedia,
  .scroll_down {
    display: none;
  }
} 
