header {
  height: 100vh;
  overflow: hidden;
  background-image: url(../../assets/images/background/bgHeader.jpg);
  background-size: cover;
  padding-top: 100px; 
}

.header_container {
  text-align: center;
  height: 100%;
  position: relative;
}

/*===============headerbuttons=================*/
.headerButton {
  display: flex;
  justify-content: center;
  margin-top: 2%;
  margin-bottom: 5%;
  gap: 2%;
}

/*===============SocialMedia=================*/
.socialMedia {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  position: absolute;
  left: 0;
  bottom: 5%;
  margin-left: 15px;
}

.socialMedia::after {
  content: "";
  width: 1px;
  height: 40px;
  background: var(--color-dark);
}

/*=============profilePicture===================*/
.profilePicture {
  background: var(--color-light);
  width: 420px;
  height: 530px;
  position: absolute;
  left: calc(50%);
  transform: translateX(-50%);
  border-radius: 45%;
  overflow: hidden;
  padding: 20px 20px;
}

@media screen and (max-width: 1024px) {
  header {
    padding-top: 20%;
  }
  .socialMedia {
    flex-direction: row;
  }
  .socialMedia::after {
    display: none; 
  }
}

/*phone media-query small screensize*/
@media screen and (max-width: 600px) {
  header {
    padding-top: 20%;
  }

  .socialMedia {
    flex-direction: row;
    width: 70%;
  }

  .profilePicture {
    margin-top: 8%;
    height: auto;
    width: 60%;
  }
  .socialMedia::after {
    display: none; 
  }
}

@media screen and (max-width: 480px) {

  .profilePicture {
    margin-top: 8%;
    height: auto;
    width: 50%;
  }
  .socialMedia::after {
    display: none; 
  }
}