#skills {
  height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: 40% 40%;
  gap: 20%;
}

.skill_containter > div {
  background: var(--color-primary-variant);
  padding: 2.5rem 5rem;
  border-radius: 2rem;
  border: transparent;
}

.skill_containter > div:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
  cursor: default;
}
