#projects {
  overflow: hidden;
  padding-top: 40px; 
}

.portfolio_container {
  display: grid; 
  grid-template-columns: 33% 33% 33%;
  row-gap: 1%; 
}

.portfolio_item {
  background: var(--color-primary-variant);
  border-radius: 20px;
  border: 1px solid transparent;
  padding: 10px;
  margin: 10px;  
}

.portfolio_item:hover {
  border-color: var(--color-primary-);
  background: darkgrey;
}

.portfolio_item-image {
  display: flex; 
  justify-content: center;
  width: auto; 
  height: 200px;
  border-radius: 20px;
  overflow: hidden;
  margin: 0 15px 0 15px;
  justify-content: center;
  align-content: center;
}

.portfolio_item h3 {
  margin: 20px;
  text-align: center;
  font-weight: 800; 
}

.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 5%;
  margin-bottom: 2%;
}

/*==========phone media-query small screensize=======*/
@media screen and (max-width: 1024px) {
  .portfolio_container{
    grid-template-columns: 50% 50%;
    width: var(--container-width-md);
  }
}

@media screen and (max-width: 600px) {
  .portfolio_container {    
    grid-template-columns: 100%; 
    width: var(--container-width-sm);
  }
}
