#projects {
  padding-top: 50px;
  height: 100vh;
}

.portfolio_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
  justify-content: center;
  align-content: center;
}

.portfolio_items {
  background: var(--color-bg-variant);
  padding: 10px;
  border-radius: 20px;
  border: 1px solid transparent;
}

.portfolio_items:hover {
  border-color: var(--color-primary-variant);
  background: transparent;
}

.portfolio_item-image {
  width: 30vw;
  height: 300px;
  border-radius: 20px;
  overflow: hidden;
  margin: 20px;
  justify-content: center;
  align-content: center;
}

.portfolio_item h3 {
  margin: 20px;
  text-align: center;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 5%;
  margin-bottom: 10%;
}

/*==========phone media-query small screensize=======*/
@media screen and (max-width: 600px) {
  #projects {
    height: auto;
  }

  .portfolio_container {    
    flex-direction: column;
    width: 90%; 
  }
}
